.collapse-card {
    &:not(.show) {
        & .collapse-card-collapsed {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
        }
        & .collapse-card-button {
            & > * {
                transform: rotate(0deg);
            }
        }
    }
    &:is(.show) {
        & .collapse-card-collapsed {
            max-height: 100rem;
            opacity: 1;
            visibility: visible;
            overflow: hidden;
        }
        & .collapse-card-button {
            & > * {
                transform: rotate(90deg);
                & line {
                    opacity: 1;
                    visibility: visible;
                    transition: 0.4s ease-in-out;
                    &:first-of-type {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
    &-collapsed {
        display: block;
        cursor: default;
        transition: 0.4s ease-in-out;
    }
    &-inner {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        column-gap: 1.25rem;
        @media (min-width: 768px) {
            row-gap: 1.563rem;
            column-gap: 1.563rem;
        }
        & > * {
            user-select: auto;
        }
    }
    &-header {
        font-weight: 700;
        font-size: 0.938rem;
        letter-spacing: 4%;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
    }
    &-button {
        display: flex;
        & > * {
            transition: transform 0.4s ease-out;
        }
    }
}
