@import "../parts/matches-list.scss";

.section-matches {
    --bs-section-padding: 110px;
    position: relative;
    z-index: 1;
    padding: var(--bs-section-padding) 0 calc(var(--bs-section-padding) * 0);
    overflow: hidden;
    @media (min-width: 768px) {
        --bs-section-padding: 120px;
    }
    @media (min-width: 1200px) {
        --bs-section-padding: 160px;
    }
    &-primary {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        @media (min-width: 768px) {
            flex-direction: column;
            width: 186px;
            height: 100%;
        }
        @media (min-width: 992px) {
            width: 284px;
        }
        @media (min-width: 1200px) {
            width: 362px;
        }
    }
    &-content {
        padding-top: 40px;
        @media (min-width: 768px) {
            padding-top: unset;
        }
    }
}
