@import "./form";
@import "./footer";

.content {
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg width='375' height='410' viewBox='0 0 375 410' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_331_1976)'%3E%3Cpath d='M-0.718506 60.733L27.563 54.4395L27.563 58.223L2.29819 63.5426L27.563 68.8621L27.563 72.6457L-0.718505 66.3522L-0.718506 60.733Z' fill='%23020726'/%3E%3Cpath d='M-0.860107 78.9273L27.4214 72.6338L27.4214 76.4174L2.15659 81.7369L27.4214 87.0564L27.4214 90.84L-0.860107 84.5465L-0.860107 78.9273Z' fill='%23020726'/%3E%3Cpath d='M-0.860107 24.4517L27.4214 18.1582L27.4214 21.9418L2.15659 27.2613L27.4214 32.5808L27.4214 36.3644L-0.860107 30.0709L-0.860107 24.4517Z' fill='%23020726'/%3E%3Cpath d='M347 361.733L375.282 355.439L375.282 359.223L350.017 364.543L375.282 369.862L375.282 373.646L347 367.352L347 361.733Z' fill='%23020726'/%3E%3Cpath d='M347 398.087L375.282 391.794L375.282 395.578L350.017 400.897L375.282 406.217L375.282 410L347 403.707L347 398.087Z' fill='%23020726'/%3E%3Cpath d='M347 343.611L375.282 337.317L375.282 341.101L350.017 346.42L375.282 351.74L375.282 355.524L347 349.23L347 343.611Z' fill='%23020726'/%3E%3Cpath d='M347 307.294L375.282 301L375.282 304.784L350.017 310.103L375.282 315.423L375.282 319.206L347 312.913L347 307.294Z' fill='%23020726'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_331_1976'%3E%3Crect width='376' height='410' fill='white' transform='translate(-1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(0, -50%);
        @media (min-width: 992px) {
            top: calc(50% + 5.625rem);
            width: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='1440' height='673' viewBox='0 0 1440 673' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1330.56 374.589L1156.13 335.771L1156.13 359.108L1311.96 391.918L1156.13 424.728L1156.13 448.065L1330.56 409.247L1330.56 374.589Z' fill='%23020726'/%3E%3Cpath d='M1505 374.589L1330.56 335.771L1330.56 359.108L1486.39 391.918L1330.56 424.728L1330.56 448.065L1505 409.247L1505 374.589Z' fill='%23020726'/%3E%3Cpath d='M1331.44 486.817L1157 448L1157 471.337L1312.83 504.147L1157 536.957L1157 560.293L1331.44 521.476L1331.44 486.817Z' fill='%23020726'/%3E%3Cpath d='M1505 598.817L1330.56 560L1330.56 583.337L1486.39 616.147L1330.56 648.957L1330.56 672.293L1505 633.476L1505 598.817Z' fill='%23020726'/%3E%3Cpath d='M1505 262.817L1330.56 224L1330.56 247.337L1486.39 280.147L1330.56 312.957L1330.56 336.293L1505 297.476L1505 262.817Z' fill='%23020726'/%3E%3Cpath d='M1331.44 150.817L1157 112L1157 135.337L1312.83 168.147L1157 200.957L1157 224.293L1331.44 185.476L1331.44 150.817Z' fill='%23020726'/%3E%3Cpath d='M1505 38.8174L1330.56 -7.62484e-06L1330.56 23.3367L1486.39 56.1466L1330.56 88.9566L1330.56 112.293L1505 73.4758L1505 38.8174Z' fill='%23020726'/%3E%3Cpath d='M109.436 374.589L283.872 335.771L283.872 359.108L128.043 391.918L283.872 424.728L283.872 448.065L109.436 409.247L109.436 374.589Z' fill='%23020726'/%3E%3Cpath d='M-65 374.589L109.436 335.771L109.436 359.108L-46.3935 391.918L109.436 424.728L109.436 448.065L-65 409.247L-65 374.589Z' fill='%23020726'/%3E%3Cpath d='M108.564 486.817L283 448L283 471.337L127.17 504.147L283 536.957L283 560.293L108.564 521.476L108.564 486.817Z' fill='%23020726'/%3E%3Cpath d='M-65 598.817L109.436 560L109.436 583.337L-46.3935 616.147L109.436 648.957L109.436 672.293L-65 633.476L-65 598.817Z' fill='%23020726'/%3E%3Cpath d='M-65 262.817L109.436 224L109.436 247.337L-46.3935 280.147L109.436 312.957L109.436 336.293L-65 297.476L-65 262.817Z' fill='%23020726'/%3E%3Cpath d='M108.564 150.817L283 112L283 135.337L127.17 168.147L283 200.957L283 224.293L108.564 185.476L108.564 150.817Z' fill='%23020726'/%3E%3Cpath d='M-65 38.8174L109.436 -7.62484e-06L109.436 23.3367L-46.3935 56.1466L109.436 88.9566L109.436 112.293L-65 73.4758L-65 38.8174Z' fill='%23020726'/%3E%3C/svg%3E%0A");
        }
    }
}

.section-register {
    position: relative;
    z-index: 1;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    column-gap: 3rem;
    flex: 1;
    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    &-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > * {
            &:nth-child(1) {
                flex: 1;
            }
        }
    }
}
