.form-check {
    position: relative;
    display: flex;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    &-center {
        align-items: center;
        & .form-check-input {
            margin-top: unset;
        }
    }
    & .form-check-input {
        float: left;
        margin-top: 0.36rem;
        margin-left: -1.5em;
    }
    &-reverse {
        padding-right: 1.5em;
        padding-left: 0;
        text-align: right;
        & .form-check-input {
            float: right;
            margin-right: -1.5em;
            margin-left: 0;
        }
    }
    &-label {
        position: relative;
        padding-left: 1rem;
    }
    &-input {
        --bs-form-check-bg: var(--bs-body-bg);
        --bs-border-width: 0.125rem;
        --bs-border-color: rgba(var(--dark-blue-rgb), 0.2);
        width: 1.25rem;
        height: 1.25rem;
        flex: 0 0 1.25rem;
        margin-top: 0.25em;
        vertical-align: top;
        background-color: var(--bs-form-check-bg);
        background-image: var(--bs-form-check-bg-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: var(--bs-border-width) solid var(--bs-border-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        print-color-adjust: exact;
        &[type="checkbox"] {
            border-radius: 0;
        }
        &[type="radio"] {
            border-radius: 50%;
        }
        &:active {
            filter: brightness(90%);
            --bs-border-color: #{darken($green, 5%)};
        }
        &:focus {
            --bs-border-color: #{transparentize(darken($green, 5%), 0.5)};
            outline: 0;
        }
        &:checked {
            background-color: #{darken($green, 5%)};
            border-color: #{darken($green, 5%)};
        }
        &:checked[type="checkbox"] {
            --bs-form-check-bg: #{darken($green, 5%)};
            --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        }
        &:checked[type="radio"] {
            --bs-form-check-bg: #{darken($green, 5%)};
            --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }
        &[type="checkbox"]:indeterminate {
            background-color: #{darken($green, 5%)};
            border-color: #{darken($green, 5%)};
            --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
        }
        &:disabled {
            pointer-events: none;
            filter: none;
            opacity: 0.5;
        }
        &[disabled] ~ .form-check-label,
        &:disabled ~ .form-check-label {
            cursor: default;
            opacity: 0.5;
        }
    }
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    &[disabled] + .btn,
    &:disabled + .btn {
        pointer-events: none;
        filter: none;
        opacity: 0.65;
    }
}
