:root {
    --white: #ffffff;
    --grey: #f9f9f9;
    --normal-grey: #d9d9d9;
    --yellow: #ffff00;
    --green: #88ff0b;
    // --green-pressed: #74eb00;
    --green-pressed: #60d700;
    --dark-blue: #020726;
    --error: #dc3545;
    --red: #f5b5b5;
    --purple: #d9b5f5;
    --purple-rgb: 218, 184, 245;
    --black: #000000;
    --white-rgb: 255, 255, 255;
    --grey-rgb: 249, 249, 249;
    --yellow-rgb: 255, 255, 0;
    --green-rgb: 136, 255, 11;
    --dark-blue-rgb: 2, 7, 38;
    --error-rgb: 220, 53, 69;
    --red-rgb: 245, 181, 181;
    --black-rgb: 0, 0, 0;
    --scrollbar-thumb-color: #868686;
    --scrollbar-thumb-color-rgb: 134, 134, 134;
    --scrollbar-track-color: #f9f9f9;
    --scrollbar-track-color-rgb: 249, 249, 249;
}

$white: #ffffff;
$grey: #f9f9f9;
$yellow: #ffff00;
$green: #88ff0b;
$dark-blue: #020726;
$error: #dc3545;
$red: #f5b5b5;
$black: #000000;
