.form-switch {
    padding-left: 2.5em;
    & .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_406_11054)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 13C11.3137 13 14 10.3137 14 7C14 3.68629 11.3137 1 8 1C4.68629 1 2 3.68629 2 7C2 10.3137 4.68629 13 8 13Z' fill='%2388FF0B'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_406_11054' x='0' y='0' width='16' height='16' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298039 0 0 0 0 0.364706 0 0 0 0 0.431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_406_11054'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298039 0 0 0 0 0.364706 0 0 0 0 0.431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_406_11054' result='effect2_dropShadow_406_11054'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_406_11054' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        --bs-form-check-bg: var(--bs-body-bg);
        --bs-border-width: 0.0625rem;
        --bs-border-color: var(--green);
        width: 2.25em;
        height: 1.25em;
        margin-top: 0.25em;
        margin-left: -2.5em;
        background-image: var(--bs-form-switch-bg);
        background-position: left 0.02rem;
        background-size: auto;
        border-radius: 2em;
        transition: background-position 0.15s ease-in-out;
        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
        &:focus {
            --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_406_11054)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 13C11.3137 13 14 10.3137 14 7C14 3.68629 11.3137 1 8 1C4.68629 1 2 3.68629 2 7C2 10.3137 4.68629 13 8 13Z' fill='%2388FF0B'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_406_11054' x='0' y='0' width='16' height='16' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298039 0 0 0 0 0.364706 0 0 0 0 0.431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_406_11054'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298039 0 0 0 0 0.364706 0 0 0 0 0.431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_406_11054' result='effect2_dropShadow_406_11054'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_406_11054' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        }
        &:checked {
            background-color: #{darken($green, 5%)};
            border-color: #{darken($green, 5%)};
            background-position: right 0.02rem;
            --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_338_926)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 13.5C11.3137 13.5 14 10.8137 14 7.5C14 4.18629 11.3137 1.5 8 1.5C4.68629 1.5 2 4.18629 2 7.5C2 10.8137 4.68629 13.5 8 13.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_338_926' x='0' y='0.5' width='16' height='16' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298039 0 0 0 0 0.364706 0 0 0 0 0.431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_338_926'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.298039 0 0 0 0 0.364706 0 0 0 0 0.431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_338_926' result='effect2_dropShadow_338_926'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_338_926' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }
    &.form-check-reverse {
        padding-right: 2.5em;
        padding-left: 0;
        & .form-check-input {
            margin-right: -2.5em;
            margin-left: 0;
        }
    }
}

[data-bs-theme="dark"] {
    & .form-switch {
        & .form-check-input {
            &:not(:checked):not(:focus) {
                --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
            }
        }
    }
}
