.collapse-card {
    @media (min-width: 1200px) {
        --card-padding-bottom: 1.88rem;
    }
    &:not(.collapse-card-mobile) {
        cursor: default;
    }
    &-mobile {
        & .collapse-card-button {
            display: flex;
            @media (min-width: 992px) {
                display: none;
            }
            & > * {
                transition: transform 0.4s ease-out;
            }
        }
    }
    &-collapsed {
        display: block;
        cursor: default;
        transition: 0.4s ease-in-out;
    }
    &-inner {
        display: unset;
        flex-direction: unset;
        align-items: unset;
        justify-content: unset;
        & > * {
            user-select: auto;
        }
    }
    &-header {
        cursor: pointer;
        &:not(.show) {
            & ~ .collapse-card-collapsed {
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
            }
            & .collapse-card-button {
                & > * {
                    transform: rotate(0deg);
                }
            }
        }
        &:is(.show) {
            & ~ .collapse-card-collapsed {
                max-height: 100rem;
                opacity: 1;
                visibility: visible;
                overflow: hidden;
            }
            & .collapse-card-button {
                & > * {
                    transform: rotate(135deg);
                }
            }
        }
    }
    &-button {
        display: flex;
        & > * {
            transition: transform 0.4s ease-out;
        }
    }
}
