.give-card {
    position: relative;
    z-index: 1;
    padding-bottom: 2.3125rem;
    border-bottom: 0.0625rem solid rgba(var(--dark-blue-rgb), 0.2);
    &-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 3.125rem;
        height: 3.125rem;
        background-color: var(--white);
        border-radius: 0;
        & svg {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }
    &-title {
        padding-top: 1.25rem;
        @media (min-width: 768px) {
            padding-top: 1.5625rem;
        }
    }
    &-description {
        padding-top: 0.9375rem;
        @media (min-width: 768px) {
            padding-top: 1.25rem;
        }
    }
}
