.teacher-card {
    --card-padding-x: 0.62rem;
    --card-padding-y: 1.61rem;
    position: relative;
    display: block;
    width: 10rem;
    height: 10.9375rem;
    padding: var(--card-padding-y) var(--card-padding-x);
    background-color: var(--grey);
    border-radius: 0;
    transition: 0.2s ease;
    cursor: pointer;
    will-change: transform;
    @media (min-width: 768px) {
        width: 12.3125rem;
        height: 12.9375rem;
        --card-padding-y: 1.19rem;
        --card-padding-x: 1.19rem;
    }
    @media (min-width: 1200px) {
        width: 15.625rem;
        height: 16.8125rem;
        --card-padding-x: 1.875rem;
        --card-padding-y: 2.12rem;
    }
    &.active {
        background-color: var(--white);
        transition: 0.2s ease;
    }
    &-photo {
        position: relative;
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 50rem;
        margin: auto;
        overflow: hidden;
        @media (min-width: 768px) {
            width: 3.4375rem;
            height: 3.4375rem;
        }
        @media (min-width: 1200px) {
            width: 4.375rem;
            height: 4.375rem;
        }
        & img,
        & svg,
        & canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50rem;
        }
    }
    &-name {
        text-align: center;
        max-width: 100%;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 183%;
        color: var(--dark-blue);
        padding-top: 0.94rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media (min-width: 1200px) {
            font-size: 1rem;
            line-height: 157%;
            padding-top: 1.94rem;
        }
    }
    &-description {
        font-family: "IBM Plex Serif";
        font-style: normal;
        font-weight: 500;
        font-size: 0.6875rem;
        line-height: 145%;
        color: rgba(var(--dark-blue-rgb), 0.2);
        text-align: center;
        margin-top: 0.5rem;
        max-height: 3rem;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-break: auto;
        overflow: hidden;
        animation: welcomeText 2s ease;
        transition: 0.4s ease;
        @media (min-width: 1200px) {
            font-size: 0.875rem;
            line-height: 157%;
            max-height: 4rem;
        }
    }
}
