// vendor
@import "../../node_modules/wow.js/css/libs/animate";

// utility
@import "./components/colors";
@import "./utilities/utility";

// normalize
@import "./utilities/normalize";

// components
@import "./components/advantage";
@import "./components/animation";
@import "./components/background";
@import "./components/buttons";
@import "./components/btncheck";
@import "./components/cards";
@import "./components/checkbox";
@import "./components/collapse";
@import "./components/fonts";
@import "./components/form";
@import "./components/hr";
@import "./components/items";
@import "./components/lazyload";
@import "./components/modals";
@import "./components/preloader";
@import "./components/progress";
@import "./components/spinners";
@import "./components/sticker";
@import "./components/stretched";
@import "./components/swiper";
@import "./components/tabs";
@import "./components/text";

// layouts
@import "./layouts/header";
@import "./layouts/mobile-menu";
@import "./layouts/nav";
@import "./layouts/footer";

// responsive design
:root {
    font-size: calc(100vw / 375 * 16);
    @media (min-width: 768px) {
        font-size: calc(100vw / 768 * 16);
    }
    @media (min-width: 992px) {
        font-size: calc(100vw / 992 * 16);
    }
    @media (min-width: 1200px) {
        font-size: calc(100vw / 1440 * 16);
    }
    @media (min-width: 1440px) {
        font-size: calc(100vw / 1440 * 16);
    }
    @media (min-width: 1600px) {
        font-size: calc(100vw / 1440 * 16);
    }
    @media (min-width: 1920px) {
        font-size: calc(100vw / 1600 * 16);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    position: relative;
    z-index: 1;
    height: 100%;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: "Object Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    color: rgba(var(--black-rgb), 1);
    background-color: rgba(var(--bs-body-bg-rgb), 1);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    content-visibility: auto;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    overflow-x: clip;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: calc((var(--header-height) + (var(--header-padding-y) * 2))) 0 0 0;
}

.section {
    contain: layout;
}

.wow {
    visibility: hidden;
}

#mysprite {
    display: none;
}
